.appointment_col{
  left:0;
  width: 300px;
  position:absolute;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.348);
  height: 500px;
  transform: translate(0%,-43%);
}

.tutor_appointment_col{
  left:0;
  width: 300px;
  position:absolute;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.348);
  height: 500px;
  transform: translate(0%,-30%);
}
.removeTransform{
  transform: translate(0%,-10%);
}
.removeTutorTransform{
  transform: translate(0%,-30%);
}

.container .list {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:5px;
}
.container .list_cmplt {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.list_cmplt .box {
  margin-top: 5px;
  position: relative;
  width: 270px;
  height: 60px;
  background: rgba(51, 81, 105, 0.49);
  border-radius: 5px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.025);
}
.list .box {
  position: relative;
  width: 270px;
  height: 60px;
  background: rgba(255, 253, 253, 0.852);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.025);
}


.list .box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background:rgba(53, 121, 176, 0.49);
  transition: 0.5s ease-in-out;
}

.list .box:hover::before {
  width: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.list .box .content {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
.list_cmplt .box .content {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.list .box .content .icon {
  position: relative;
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.0em;
  color: var(--color);
  transition: 0.5s ease-in-out;
}
.list_cmplt .box .content .icon {
  position: relative;
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.0em;
  color: var(--color);
  transition: 0.5s ease-in-out;
}


.list .box .content .text h6 {
  padding-top: 10px;
  font-weight: 600;
  color: var(--color);
  transition: 0.5s ease-in-out;
}
.list_cmplt .box .content .text h6 {
  padding-top: 10px;
  font-weight: 600;
  color: var(--color);
  transition: 0.5s ease-in-out;
}

.list .box .content .text p {
  font-size: 0.9em;
  color: rgb(117, 117, 117);
  transition: 0.5s ease-in-out;
}

.list .box:hover .content .text h3,
.list .box:hover .content .text p {
  color: #fff;
}



.imageClass {
  text-align: center;
  content: '';
  
  position: absolute;
  width: 100%;
  min-height: 100vh;
  opacity: 0.85;
  z-index: -1;
  filter: blur(2px);
  height: 100vh;
  display: flex;
}
.headerLogoLink img{
  width: 40px
}
.Logo {
  width: 4%;
  padding-right: 5px;
}
.LogoTemplate {
  width: 15%;
}
.header {
  top: 0%; 
  position: inherit; 
  width: 100%;
}

.copywrite{
  background-color: rgba(0, 0, 0, 0.2);
}
.navElementAdjust {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginSignUp{
  min-width: 100px;
}
.searchBar{
  z-index: 1;
  
  margin: 1rem;
  height:40px ;
  width: 30%;
  border: 2px solid;
  border-radius: 20px;
  overflow: hidden;
}


.searchBar input {
  box-shadow: none; 
  border-width:0px; 
  border:none;
  opacity: 0.75;
}
.searchBar button {
  box-shadow: none; 
  border-width:0px; 
  border:none; 
  pointer-events:none;
  background-color: white;
}
.navblack{
  height: 60px;
}
.subject{
  font-size: 18px;
  font-family: "Lucida Console";
  color: rgb(1, 46, 143);
}
.tutor-list-container{
 
  display: flex;
  /* flex-wrap: wrap; */
  /* margin-top: 20px; */
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(0%,50%);
}


  .bodyContainer {
    min-height: calc(100vh - 4rem);
    padding-block: 2rem;
  }
 
  